war/WEB-INF/classes/restful/server/domain/Category.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="category" type="Category"/>

  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
     <xs:attribute name="id" type="xs:long" use="required"/>
  </xs:complexType>
</xs:schema>